<div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>EDIT PROFILE</h2>
            
          <%= form_for @user do |f| %>
          <fieldset disabled>
              <div class="form-group">
                <label for="disabledTextInput"></label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder= <%= @user.email %>>
              </div>
          </fieldset>
            <div class="form-group">
              <%= f.text_field :username, class: "form-control", placeholder: @user.username %>
            </div>
            
            <div class="form-group">
              <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
            </div>
            <%= f.submit "Done", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>